@import "reset.css";
@font-face {
  font-family: "Circe";
  src: url("../fonts/Circe-Regular.woff") format("woff");
}

@font-face {
  font-family: "Nolde";
  src: url("../fonts/Nolde.woff") format("woff");
}

:root {
  --main-color: #FFE0AF;
  --accent-color: #D23535;
}

body {
  font-family: "Circe";
  color: var(--main-color);
  background-repeat: no-repeat;
  background-color: black;
  background-image: url(../img/ipad_portrait.png);
  background-size: 100%;
  overflow-x: hidden;
  height: 100vh;
}

.main {
  position: relative;
  overflow-x: hidden;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}


/*
  Section first_half
*/

.first_half img:first-child {
  width: 134vw;
  position: absolute;
  top: -2vw;
  left: -2vw;
}

.first_half img:nth-child(2) {
  position: absolute;
  width: 141vw;
  top: -8vw;
  left: 6vw;
  transform: rotate(9deg);
}

.first_half img:nth-child(3) {
  display: none;
}

.first_half img:nth-child(4) {
  width: 166vw;
  position: absolute;
  top: -2vw;
  left: -3vw;
}

.first_half p,
.second_half p {
  width: 51vw;
  font-size: 4.4vw;
  line-height: 5.7vw;
  position: absolute;
  letter-spacing: 0.1vw;
  left: 43vw;
}

.first_half p {
  top: 101vw;
}

em {
  display: none;
}

@media (min-width: 768px) {

  .first_half img:first-child {
    width: 125vw;
    top: -3vw;
    left: -9vw;
  }

  .first_half img:nth-child(2) {
    width: 97vw;
    top: 0vw;
    left: 27vw;
    transform: rotate(3deg);
  }

  .first_half img:nth-child(4) {
    width: 120vw;
    top: 0vw;
    left: 0vw;
  }

  .first_half p,
  .second_half p {
    width: 41vw;
    font-size: 2.5vw;
    line-height: 3.2vw;
    position: absolute;
    letter-spacing: 0.03vw;
    left: 54vw;
  }

  .first_half p {
    top: 81vw;
  }

}

/*
  Section center
*/

.center img:first-child {
  width: 100.5vw;
  position: absolute;
  top: 123.6vw;
  left: 1.4vw;
}

.center img:nth-child(2) {
  display: none;
}

.center img:nth-child(3) {
  width: 55vw;
  position: absolute;
  top: 190.5vw;
  left: 19vw;
}

.center img:nth-child(4) {
  display: none;
}


.info {
  display: none;
  position: absolute;
  width: 54vw;
  text-align: center;
  color: var(--main-color);
}

.btm_1,
.btm_2,
.btm_3,
.btm_4 {
  position: absolute;
  width: 36vw;
  height: 12vw;
  color: black;
}

.btm_content {
  position: absolute;
  text-align: center;
  vertical-align: middle;
  vertical-align: center;
  font-family: Nolde;
  font-size: 8vw;
  line-height: 9vw;
  width: 14vw;
  height: 10vw;
  display: block;
}

.center h1 {
  font-family: "Nolde";
  font-size: 6vw;
  letter-spacing: 0.1vw;
}

.center p {
  font-size: 4vw;
  letter-spacing: 0.1vw;
  line-height: 6vw;
  margin-top: 7vw;
}

.btm_1:hover,
.btm_2:hover,
.btm_3:hover,
.btm_4:hover .btm_content {
  color: var(--main-color);
}


/* btm_1 */

.btm_1 {
  top: 178vw;
  left: 39vw;
  transform: rotate(10deg);
}

.btm_1 .btm_content {
  top: 0.5vw;
  left: 10vw;
  transform: rotate(-10deg);
}

.btm_1:hover .info {
  display: block;
  transform: rotate(-10deg);
  left: -9vw;
  top: 29.3vw;
}

/* btm_2 */

.btm_2{
  top: 189vw;
  left: 5vw;
  transform: rotate(-45deg);
}

.btm_2 .btm_content {
  top: 1vw;
  left: 12vw;
  transform: rotate(45deg);
}

.btm_2:hover .info {
  display:block;
  transform: rotate(45deg);
  top: 30.5vw;
  left: -6.2vw;
}

/* btm_3 */

.btm_3{
  top: 220vw;
  left: -6vw;
  transform: rotate(87deg);
}

.btm_3 .btm_content {
  top: 1vw;
  left: 12vw;
  transform: rotate(-87deg);
}

.btm_3:hover .info {
  display:block;
  transform: rotate(-87deg);
  top: -48vw;
  left: -10.6vw;
}

/* btm_4 */

.btm_4{
  top: 250vw;
  left: 13vw;
  transform: rotate(32deg);
}

.btm_4 .btm_content {
  top: 2vw;
  left: 11vw;
  transform: rotate(-32deg);
}

.btm_4:hover .info {
  display:block;
  transform: rotate(-32deg);
  top: -47.4vw;
  left: -12.5vw;
}


@media (min-width: 768px) {

  .center img:first-child {
    width: 77.5vw;
    top: 97vw;
    left: 13.4vw;
  }

  .center img:nth-child(3) {
    width: 42.5vw;
    top: 148.7vw;
    left: 27vw;
  }

  .btm_1,
  .btm_2,
  .btm_3,
  .btm_4 {
    width: 30vw;
    height: 10vw;
  }

  .btm_content {
    font-size: 4.7vw;
    line-height: 9vw;
  }

  .center h1 {
    font-size: 4.5vw;
    letter-spacing: 0.1vw;
  }

  .center p {
    font-size: 2.7vw;
    letter-spacing: 0.03vw;
    line-height: 4vw;
    margin-top: 5vw;
  }

  /* btm_1 */

  .btm_1 {
    top: 138vw;
    left: 41vw;
  }
  .btm_1 .btm_content {
    top: 1.2vw;
    left: 9vw;
  }

  .btm_1:hover .info {
    left: -12vw;
    top: 23.4vw;;
  }

  /* btm_2 */

  .btm_2{
    top: 146vw;
    left: 15vw;
  }

  .btm_2 .btm_content {
    top: 0.5vw;
    left: 6.5vw;
  }

  .btm_2:hover .info {
    top: 24.2vw;
    left: -10.4vw;
  }

  /* btm_3 */

  .btm_3{
    top: 171vw;
    left: 7vw;
    transform: rotate(87deg);
  }

  .btm_3 .btm_content {
    top: 0.8vw;
    left: 9.2vw;
  }

  .btm_3:hover .info {
    top: -33vw;
    left: -16.8vw;
  }

  /* btm_4 */

  .btm_4{
    top: 194vw;
    left: 22vw;
  }

  .btm_4 .btm_content {
    top: 0.5vw;
    left: 6.5vw;
  }

  .btm_4:hover .info {
    top: -35.8vw;
    left: -16vw;
  }

}



/*
  Section second_half
*/

.second_half img:first-child {
  position: absolute;
  left: -24vw;
  width: 160vw;
  top: 279vw;
  transform: scaleY(1.3) rotate(-8deg);
  z-index: -1;
}

.second_half img:nth-child(2) {
  display: none;
}

.second_half p {
  top: 358vw;
  width: 54vw;
}

@media (min-width: 768px) {

  .second_half img:first-child {
    left: -1vw;
    width: 127vw;
    top: 209vw;
    transform: scaleY(1.15) rotate(-11deg);
  }

  .second_half p {
    top: 274vw;
    width: 44vw;
  }

}

/*
  Section calendar
*/

.calendar {
  display: flex;
  flex-direction: column;
  width: 100vw;
  /* margin-top: 23vw; */
  /* position: absolute;
  top: 400vw; */
  margin-top: 478vw;
}
ul {
  display: flex;
  padding: 0 3vw;
  justify-content: flex-end;
  flex-direction: row;
}

#final {
  justify-content: flex-start;
}

a,
.empty {
  display: block;
  width: 9vw;
  height: 9vw;
  border-radius: 50%;
  margin: 1.6vw 2.2vw;
  text-align: center;
  line-height: 10vw;
}


.afisha img{
  display: none;
  width: 10vw;
}

span {
  font-size: 4.5vw;
}

.empty {
  background-color: black;
  border: 1vw solid var(--accent-color);
  color: var(--accent-color);
  line-height: 8vw;
}

.weekend .empty {
  background-color: black;
  border: 1vw solid var(--main-color);
  color: var(--main-color);
}

li a {
  background-color: var(--accent-color);
}

li a:hover {
box-shadow: 0 0 3vw 0.7vw var(--accent-color);
}

.weekend a {
  background-color: var(--main-color);
}

.weekend a:hover {
box-shadow: 0 0 3vw 0.5vw var(--main-color);
}

a:hover .afisha img {
  display: block;
  width: 70vw;
  position: absolute;
  left: 0;
  top: 400vw;
}
