@import "reset.css";
@font-face {
  font-family: "Circe";
  src: url("../fonts/Circe-Regular.woff") format("woff");
}

@font-face {
  font-family: "Nolde";
  src: url("../fonts/Nolde.woff") format("woff");
}

:root {
  --main-color: #FFE0AF;
  --accent-color: #D23535;
}

body {
  font-family: "Circe";
  color: var(--main-color);
  background-repeat: no-repeat;
  background-color: black;
  /* background-image: url(../img/mac_pro.png); */
  background-size: 100%;
  overflow-x: hidden;
  height: 100vh;
}

.main {
  position: relative;
  overflow-x: hidden;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}


/*
  Section first_half
*/

.first_half img:first-child {
  width: 134vw;
  position: absolute;
  top: -2vw;
  left: -2vw;
}

.first_half img:nth-child(2) {
  position: absolute;
  width: 141vw;
  top: -8vw;
  left: 6vw;
  transform: rotate(9deg);
}

.first_half img:nth-child(3) {
  display: none;
}

.first_half img:nth-child(4) {
  width: 175vw;
  position: absolute;
  top: -1vw;
  left: -10vw;
}

.first_half p,
.second_half p {
  width: 51vw;
  font-size: 4.4vw;
  line-height: 5.7vw;
  position: absolute;
  letter-spacing: 0.1vw;
  left: 43vw;
}

.first_half p {
  top: 101vw;
}

em {
  display: none;
}

@media (min-width: 375px) {

  .first_half img:first-child {
    width: 131vw;
    top: 0vw;
    left: 0vw;
  }

  .first_half img:nth-child(2) {
    width: 140vw;
    top: -9vw;
    left: 12vw;
  }
  .first_half img:nth-child(4) {
    top: 0vw;
    left: -7.1vw;
  }

  .first_half p,
  .second_half p {
    width: 45vw;
    font-size: 4vw;
    line-height: 5.2vw;
    letter-spacing: 0.03vw;
    left: 47vw;
  }

  .first_half p {
    top: 104.2vw;
  }

}


@media (min-width: 768px) {

  .first_half img:first-child {
    width: 125vw;
    top: -3vw;
    left: -9vw;
  }

  .first_half img:nth-child(2) {
    width: 97vw;
    top: 0vw;
    left: 27vw;
    transform: rotate(3deg);
  }

  .first_half img:nth-child(4) {
    width: 128vw;
    top: 0vw;
    left: -6vw;
  }

  .first_half p,
  .second_half p {
    width: 41vw;
    font-size: 2.5vw;
    line-height: 3.2vw;
    left: 54vw;
  }

  .first_half p {
    top: 81vw;
  }

}

@media (min-width: 1024px) {
  .first_half img:first-child {
    width: 101vw;
    top: -1vw;
    left: -2vw;
  }

  .first_half img:nth-child(2) {
    width: 67vw;
    top: -2vw;
    left: 40vw;
    transform: rotate(0deg);
  }

  .first_half img:nth-child(4) {
    width: 96vw;
    top: -0.2vw;
    left: -3vw;
  }

  .first_half p,
  .second_half p {
    width: 38vw;
    font-size: 2.3vw;
    line-height: 3vw;
    left: 57.5vw;
  }

  .first_half p {
    top: 58vw;
  }

  em {
    display: inline-block;
  }

}

@media (min-width: 1366px) {

  .first_half img:first-child {
    width: 97vw;
    top: 0vw;
    left: -3vw;
  }

  .first_half img:nth-child(2) {
    width: 63vw;
    top: -1.5vw;
    left: 38.4vw;
  }

  .first_half img:nth-child(3) {
    position: absolute;
    display: block;
    width: 32vw;
    top: 30.1vw;
    left: 48.445vw;
    transform: rotate(-0.5deg);
  }

  .first_half img:nth-child(4) {
    width: 108vw;
    top: 0vw;
    left: -2.5vw;
  }

  .first_half p,
  .second_half p {
    width: 34vw;
    font-size: 2.1vw;
    line-height: 2.7vw;
    letter-spacing: 0.01vw;
    left: 64.1vw;
  }

  .first_half p {
    top: 40.9vw;
  }
}

@media (min-width: 1440px) {
  .first_half img:first-child {
    width: 92vw;
    top: 0vw;
    left: 0vw;
  }

  .first_half img:nth-child(2) {
    width: 61.5vw;
    top: -2vw;
    left: 39vw;
  }

  .first_half img:nth-child(3) {
    width: 30.6vw;
    top: 28.6vw;
    left: 48.5vw;
    transform: rotate(0.5deg);
  }

  .first_half img:nth-child(4) {
    width: 102vw;
    left: -2.5vw;
  }

  .first_half p,
  .second_half p {
    width: 31vw;
    font-size: 1.93vw;
    line-height: 2.5vw;
    left: 63.7vw;
  }

  .first_half p {
    top: 39vw;
  }
}

/*
  Section center
*/

.center img:first-child {
  width: 100.5vw;
  position: absolute;
  top: 123.6vw;
  left: 1.4vw;
}

.center img:nth-child(2) {
  display: none;
}

.center img:nth-child(3) {
  width: 55vw;
  position: absolute;
  top: 190.5vw;
  left: 19vw;
}

.center img:nth-child(4) {
  display: none;
}


.info {
  display: none;
  position: absolute;
  width: 56vw;
  text-align: center;
  color: var(--main-color);
}

.btm_1,
.btm_2,
.btm_3,
.btm_4 {
  position: absolute;
  width: 36vw;
  height: 12vw;
  color: black;
}

.btm_content {
  position: absolute;
  text-align: center;
  vertical-align: middle;
  vertical-align: center;
  font-family: Nolde;
  font-size: 8vw;
  line-height: 9vw;
  width: 14vw;
  height: 10vw;
  display: block;
}

.center h1 {
  font-family: "Nolde";
  font-size: 6vw;
  letter-spacing: 0.1vw;
}

.center p {
  font-size: 4vw;
  letter-spacing: 0.1vw;
  line-height: 6vw;
  margin-top: 7vw;
}

.btm_1:hover,
.btm_2:hover,
.btm_3:hover,
.btm_4:hover .btm_content {
  color: var(--main-color);
}

.btm_4:hover .btm_content {
  color: #A08D74;
}


/* btm_1 */

.btm_1 {
  top: 178.5vw;
  left: 38.5vw;
  transform: rotate(10deg);
}

.btm_1 .btm_content {
  top: 0.5vw;
  left: 10.5vw;
  transform: rotate(-10deg);
}

.btm_1:hover .info {
  display: block;
  transform: rotate(-10deg);
  left: -9vw;
  top: 28.8vw;
}

/* btm_2 */

.btm_2{
  top: 189.5vw;
  left: 4vw;
  transform: rotate(-45deg);
}

.btm_2 .btm_content {
  top: 1vw;
  left: 12vw;
  transform: rotate(45deg);
}

.btm_2:hover .info {
  display:block;
  transform: rotate(45deg);
  top: 31vw;
  left: -6.2vw;
}

/* btm_3 */

.btm_3{
  top: 220vw;
  left: -6vw;
  transform: rotate(87deg);
}

.btm_3 .btm_content {
  top: 1vw;
  left: 12vw;
  transform: rotate(-87deg);
}

.btm_3:hover .info {
  display:block;
  transform: rotate(-87deg);
  top: -46vw;
  left: -14.5vw;
}

/* btm_4 */

.btm_4{
  top: 249.3vw;
  left: 13vw;
  transform: rotate(32deg);
}

.btm_4 .btm_content {
  top: 2vw;
  left: 11vw;
  transform: rotate(-32deg);
}

.btm_4:hover .info {
  display:block;
  transform: rotate(-32deg);
  top: -47vw;
  left: -12.5vw;
}


@media (min-width: 375px) {

  .center img:first-child {
    width: 87vw;
    top: 140.9vw;
    left: 8.8vw;
  }

  .center img:nth-child(3) {
    width: 47.5vw;
    top: 198.5vw;
    left: 24vw;
  }

  .center h1 {
    font-size: 5.3vw;
    letter-spacing: 0.1vw;
  }

  .center p {
    font-size: 3.5vw;
    line-height: 5.5vw;
    margin-top: 5.4vw;
  }

  .info {
    width: 54vw;
  }

  /* btm_1 */

  .btm_1 {
    top: 187.7vw;
    left: 39.2vw;
  }

  .btm_1:hover .info {
    left: -9.5vw;
    top: 25.5vw;
  }

  /* btm_2 */

  .btm_2 {
    top: 196.4vw;
    left: 9vw;
  }

  .btm_2:hover .info {
    top: 27.5vw;
    left: -6.5vw;
  }

  /* btm_3 */

  .btm_3 {
    top: 223vw;
    left: -0.5vw;
  }

  .btm_3:hover .info {
    top: -39.5vw;
    left: -12.9vw;
  }

   .btm_4 {
    top: 249vw;
    left: 16vw;
  }

  .btm_4:hover .info {
    top: -40.5vw;
    left: -11.5vw
  }

}


@media (min-width: 768px) {

  .center img:first-child {
    width: 77.5vw;
    top: 97vw;
    left: 13.4vw;
  }

  .center img:nth-child(3) {
    width: 42.5vw;
    top: 148.7vw;
    left: 27vw;
  }

  .center img:nth-child(4) {
    display: none;
  }

  .btm_1,
  .btm_2,
  .btm_3,
  .btm_4 {
    width: 30vw;
    height: 10vw;
  }

  .btm_content {
    font-size: 4.7vw;
    line-height: 9vw;
  }

  .center h1 {
    font-size: 4.5vw;
    letter-spacing: 0.1vw;
  }

  .center p {
    font-size: 2.7vw;
    letter-spacing: 0.03vw;
    line-height: 4vw;
    margin-top: 5vw;
  }

  /* btm_1 */

  .btm_1 {
    top: 138vw;
    left: 41vw;
  }
  .btm_1 .btm_content {
    top: 1.2vw;
    left: 9vw;
  }

  .btm_1:hover .info {
    left: -12vw;
    top: 23.4vw;;
  }

  /* btm_2 */

  .btm_2{
    top: 146vw;
    left: 15vw;
  }

  .btm_2 .btm_content {
    top: 0.5vw;
    left: 6.5vw;
  }

  .btm_2:hover .info {
    top: 24.2vw;
    left: -10.4vw;
  }

  /* btm_3 */

  .btm_3{
    top: 171vw;
    left: 7vw;
    transform: rotate(87deg);
  }

  .btm_3 .btm_content {
    top: 0.8vw;
    left: 9.2vw;
  }

  .btm_3:hover .info {
    top: -33vw;
    left: -16.8vw;
  }

  /* btm_4 */

  .btm_4{
    top: 194vw;
    left: 22vw;
  }

  .btm_4 .btm_content {
    top: 0.5vw;
    left: 6.5vw;
  }

  .btm_4:hover .info {
    top: -35.8vw;
    left: -16vw;
  }

}

@media (min-width: 1024px) {
  .center {
    pointer-events: none;
  }

  .center img:first-child {
    display: none;
  }

  .center img:nth-child(2) {
    display: block;
    position: absolute;
    width: 67.5vw;
    top: 90.5vw;
    left: 33.7vw;
  }

  .center img:nth-child(3) {
    display: none;
  }

  .center img:nth-child(4) {
    display: block;
    position: absolute;
    width: 62.3vw;
    top: 89.3vw;
    left: 6vw;
  }

  .btm_content {
    display: none;
  }

  .info {
    display: block;
    text-align: left;
  }

  .center h1 {
    font-size: 3.5vw;
    letter-spacing: 0.02vw;
  }

  .center p {
    font-size: 2vw;
    letter-spacing: 0.01vw;
    line-height: 2.3vw;
    margin-top: 1.5vw;
  }

  .btm_1 {
    top: 83.7vw;
    left: 6.1vw;
  }

  .btm_1 .info {
    transform: rotate(-10deg);
  }

  .btm_2 {
    top: 110.05vw;
    left: 9.6vw;
  }

  .btm_2 .info {
    transform: rotate(45deg);
  }

  .btm_3 {
    top: 104.6vw;
    left: 17vw;
  }

  .btm_3 .info {
    transform: rotate(-87deg);
  }

  .btm_4 {
    top: 125.4vw;
    left: 7.6vw;
  }

  .btm_4 .info {
    transform: rotate(-32deg);
  }

}


@media (min-width: 1366px) {

  .center img:nth-child(2) {
    width: 57vw;
    top: 87vw;
    left: 31vw;
  }

  .center img:nth-child(3) {
    display: none;
  }

  .center img:nth-child(4) {
    display: block;
    position: absolute;
    width: 53vw;
    top: 85.5vw;
    left: 8vw;
  }

  .btm_content {
    display: none;
  }

  .info {
    display: block;
    text-align: left;
  }

  .center h1 {
    font-size: 2.5vw;
    letter-spacing: 0.03vw
  }

  .center p {
    font-size: 1.7vw;
    letter-spacing: 0.01vw;
    line-height: 2vw;
    margin-top: 1.5vw;
  }

  .btm_1 {
    top: 80.6vw;
    left: 8vw;
  }

  .btm_1 .info {
    transform: rotate(-10deg);
  }

  .btm_2 {
    top: 104.3vw;
    left: 12vw;
  }

  .btm_2 .info {
    transform: rotate(45deg);
  }

  .btm_3 {
    top: 96vw;
    left: 18.2vw;
  }

  .btm_3 .info {
    transform: rotate(-87deg);
  }

  .btm_4 {
    top: 115.2vw;
    left: 9.3vw;
  }

  .btm_4 .info {
    transform: rotate(-32deg);
  }
}

  @media (min-width: 1440px) {
    .center img:nth-child(2) {
      width: 54.5vw;
      top: 83.9vw;
      left: 32.7vw;
    }

    .center img:nth-child(4) {
      width: 50.2vw;
      top: 82.7vw;
      left: 11.5vw;
    }

    .center p {
      font-size: 1.4vw;
      line-height: 1.7vw;
      margin-top: 1.6vw;
      }

    .btm_1 {
      top: 77.8vw;
      left: 11.45vw;
    }

    .btm_2 {
    top: 100.7vw;
    left: 15.9vw;
    }

    .btm_3 {
    top: 91.7vw;
    left: 21.5vw;
    }

    .btm_4 {
    top: 110.6vw;
    left: 12.6vw;
    }
}


/*
  Section second_half
*/

.second_half img:first-child {
  position: absolute;
  left: -24vw;
  width: 160vw;
  top: 279vw;
  transform: scaleY(1.3) rotate(-8deg);
  z-index: -1;
}

.second_half img:nth-child(2) {
  display: none;
}

.second_half p {
  top: 358vw;
  width: 54vw;
}

@media (min-width: 375px) {
  .second_half img:first-child {
    left: -18vw;
    width: 141vw;
    top: 271vw;
  }

  .second_half p {
    top: 337vw;
    width: 53vw;
  }
}

@media (min-width: 768px) {

  .second_half img:first-child {
    left: -1vw;
    width: 127vw;
    top: 209vw;
    transform: scaleY(1.15) rotate(-11deg);
  }

  .second_half p {
    top: 274vw;
    width: 44vw;
  }
}

@media (min-width: 1024px) {
  .second_half img:first-child {
    left: 20vw;
    width: 85vw;
    top: 120vw;
    transform: scaleY(1.15) rotate(2deg);
  }

  .second_half p {
    top: 159.5vw;
    width: 40vw;
  }
}

@media (min-width: 1366px) {

  .second_half img:first-child {
    left: 16vw;
    width: 84vw;
    top: 108vw;
    transform: rotate(0deg);
    }

    .second_half img:nth-child(2) {
      display: block;
      position: absolute;
      top: 106.7vw;
      width: 31.8vw;
      left: 48.5vw;
      transform: rotate(0deg);
    }

    .second_half p {
    top: 140.5vw;
    width: 36vw;
    }
  }

@media (min-width: 1440px) {
    .second_half img:first-child {
      left: 16vw;
      width: 84vw;
      top: 104vw;
    }

    .second_half img:nth-child(2) {
      top: 103vw;
      width: 30.5vw;
      height: 54vw;
      left: 48.7vw;
    }

    .second_half p {
      top: 136.9vw;
      width: 33vw;
    }
}


/*
  Section calendar
*/

.calendar {
  width: 100vw;
  /* margin-top: 23vw; */
  /* position: absolute;
  top: 400vw; */
  margin-top: 466vw;
  padding: 0 3vw
}

.months {
  display: none;
}


ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

a,
.empty {
  display: block;
  width: 9vw;
  height: 9vw;
  border-radius: 50%;
  margin: 1.6vw 2.2vw;
  text-align: center;
  line-height: 10vw;
}


.afisha img{
  display: none;
  width: 10vw;
}

span {
  font-size: 4.5vw;
  display: block;
}

.empty {
  background-color: black;
  border: 1vw solid var(--accent-color);
  color: var(--accent-color);
  line-height: 8vw;
}

.empty span {
  line-height: 8vw;
}

.weekend .empty {
  background-color: black;
  border: 1vw solid var(--main-color);
  color: var(--main-color);
}

li a {
  background-color: var(--accent-color);
}

li a:hover {
box-shadow: 0 0 3vw 0.7vw var(--accent-color);
}

.weekend a {
  background-color: var(--main-color);
}

.weekend a:hover {
box-shadow: 0 0 3vw 0.5vw var(--main-color);
}

a:hover .afisha img {
  display: block;
  width: 80vw;
  position: absolute;
  left: 7vw;
  top: 450vw;
}

.space_holder {
  opacity: 0%;
}

@media (min-width: 375px) {

  .calendar {
    margin-top: 439vw;
    padding: 0 7vw
  }

  a, .empty {
    width: 8.5vw;
    height: 8.5vw;
    margin: 1.4vw 1.5vw;
  }

  span {
    font-size: 4.3vw;
    line-height: 9.5vw;
  }


  .weekend .empty {
    border: 0.7vw solid var(--main-color);
  }

  .empty {
    border: 0.7vw solid var(--accent-color);
  }

  .empty span {
    line-height: 8vw;
  }


  a:hover .afisha img {
    width: 78vw;
    left: 7vw;
    top: 423vw;
  }

}

@media (min-width: 768px) {

  .calendar {
    margin-top: 343vw;
    padding: 0 2.5vw;
  }

  a, .empty {
      width: 4.6vw;
      height: 4.6vw;
      margin: 1vw 1vw;
    }

  span {
      font-size: 2vw;
      line-height: 5vw;
    }


  .weekend .empty {
      border: 0.4vw solid var(--main-color);
      align-content: center;
  }

  .empty {
      border: 0.4vw solid var(--accent-color);
  }

  .empty span {
    line-height: 4.2vw;
  }


  a:hover .afisha img {
    width: 40vw;
    left: 25vw;
    top: 335vw;
  }
}

@media (min-width: 1024px) {
  .calendar {
    margin-top: 208.5vw;
    padding: 0 4.2vw;
  }

  a, .empty {
    margin: 0.8vw 0.8vw;
  }

  a:hover .afisha img {
    width: 31vw;
    left: 31vw;
    top: 202vw;
  }
}

@media (min-width: 1366px) {

  .space_holder {
    display: none;
  }

  .calendar {
    margin-top: 198vw;
    padding: 0 0.6vw;
  }

  .calendar ul:first-of-type {
    padding: 1.5vw 4vw;
  }

  .months {
    display: block;
    padding: 0.4vw 0.7vw;
    border-radius: 0.5vw;
    font-size: 1.1vw;
  }

  .months:hover {
    background-color: var(--main-color);
    color: black;
  }

  a,
  .empty {
    width: 2.2vw;
    height: 2.2vw;
    margin: 0.4vw 0.4vw;
    }

  span {
    font-size: 1.2vw;
    vertical-align: middle;
    line-height: 2.5vw;
    display: block;
    height: 4vw;
    }


  .weekend .empty {
    border: 0.2vw solid var(--main-color);
    align-content: center;
    text-align: center;
    vertical-align: middle;
    position: relative;
  }

  .empty {
    border: 0.2vw solid var(--accent-color);
  }

  .empty span {
    line-height: 2vw;
  }

  a:hover .afisha img {
    width: 30vw;
    left: 25vw;
    top: 185vw;
  }
}

@media (min-width: 1440px) {
  .calendar {
    margin-top: 190vw;
    padding: 0 2.8vw;
  }
}
